[2015-05-04 18:11] sc0ttkclark opened #1 "Good use-case examples for all objects"
I'd like help on fleshing out the examples (what fields to register for each use-case) on each of the main objects:

* [ ] Customizer
* [ ] User profile

Additional examples for long-term reach:

* [ ] Settings screens
* [ ] Post editor

[2015-05-04 18:13] sc0ttkclark commented on #1
If you want to help here, you can do a PR on the `README.md` or provide a text-based list of object+fields+options on this thread.

[2015-05-04 18:22] sc0ttkclark commented on #1
There may also be a use for an `/examples/` folder, with `.php` files for each use-case, and the simplest forms for reference shown in `README.md`, the more in-depth examples in the `.php` files.

[2015-05-04 21:32] paaljoachim opened #2 "Very interesting!"
Hey

I just got to say that this looks very interesting!

I would suggest posting about this in the Advanced WordPress Facebook group as a way for a lot of people to quickly find out about this project:
https://www.facebook.com/groups/advancedwp/
and a way to get some quick feedback.

I will also suggest posting in a LinkedIn WordPress group:
https://www.linkedin.com/grp/home?gid=1482937
https://w

[2015-05-05 00:36] sc0ttkclark commented on #2
Feel free to post about this project those places, I've got my hands full at the moment.

[2015-05-05 00:37] #2 closed

[2015-05-05 00:40] paaljoachim commented on #2
Could you give me a short synopsis of the project in which I can post so that I get this right?

[2015-05-06 20:08] paulwilde opened #4 "[4.0] Post Type meta box priority"
In your example for ```fields_api_example_post_field_register()``` I believe the priority should be numeric based to keep the new API consistent rather than bowing down to what ```add_meta_box()``` did previously.

```add_meta_box()``` could then be changed to translate current low/high/core/default priorities into sane numeric default values to retain backwards compatibility.

[2015-05-14 17:32] paulwilde opened #5 "add_setting() isn't really needed"
In your examples you include the ```add_setting()``` method for each object type. I believe having this as a requirement for each control is pretty pointless and would add a lot of unnecessary code when you compare it to how some third-party libraries handle stuff like this already.

Currently each object type has only 1 data storage:

Users - wp_usermeta
Post Types - wp_postmeta
Taxonomies - wp_t

[2015-05-28 01:08] ihorvorotnov opened #6 "Idea - Fields for Quick Edit panels"
Getting the fields via core API in post edit screen is cool, ACF and a horde of similar plugins already do this even without API. But there's almost no solutions for adding custom fields to the Quick Edit panels. Being able to add fields there would help many users. Maybe, it's out of scope for this API. Maybe it's too early to think about it. Maybe we need a total rework of Quick Edit panels. Tha

[2015-05-28 01:52] sc0ttkclark commented on #6
Quick edit needs love, for sure, definitely something for later

[2015-05-28 03:28] danielbachhuber opened #7 "Test coverage"
A project of this complexity would blossom with a great deal of test coverage and some continuous integration.

[2015-05-28 03:29] sc0ttkclark commented on #7
Much sense, you make

[2015-05-28 03:30] sc0ttkclark commented on #7
:-D

Any ideas on how to kickstart tests? I can help for sure, just need not to be the only one working on it. Also are you aware of any unit tests for the Customizer?

[2015-05-28 03:40] danielbachhuber commented on #7
I'll need to spend a bit of time diving into the architecture. I'm personally a fan of integration-esque tests, which cover expected business cases. For fields generally, I'd think this to be two-fold:

1. Does the field render as expected?
1. When I submit the form, does the data get saved appropriately?

For the latter, more standard PHPUnit tests could work.

For the former, you'd essentially r

[2015-05-28 04:59] KingYes commented on #6
+1

[2015-05-28 05:00] KingYes opened #8 "Repeatable fields / Groups"
Like from ACF project: http://www.advancedcustomfields.com/resources/repeater/

[2015-05-28 05:03] KingYes commented on #1
What's about custom fields for Menus screen?

[2015-05-28 05:35] ihorvorotnov commented on #8
A huge +1 on this. I've purchased ACF 5 Pro because of this field (and flexible). One note - this repeater should be able to hold a separate "section" (a set of fields), like the one from ACF. Otherwise it's not that powerful.

[2015-05-28 08:32] nickcernis opened #9 "Rules to set visibility of sections and fields based on page template, post category, and more"
Advanced Custom Fields and similar plugins offer rules for meta box visibility such as these:

![add_new_field_group_ _my_blog_ _wordpress](https://cloud.githubusercontent.com/assets/647669/7855509/2a7def26-051a-11e5-9e6f-1a8fbf976a93.jpg)

This is very powerful because it allows the creation of meta boxes that:

- appear only when you select a certain page template (meta boxes appear as soon as y

[2015-05-28 09:13] quasel opened #10 "$wp_fields->add_field() arguments for Named (Post Types, Taxonomies) vs Non-named objects (Settings, User, etc)"
lets use the issue to discuss ideas - the conversation gets lost a bit on slack

but for e.g post, taxonomy..  we need to add the "actual type"
my suggestion would be to use an "configuration" array or object?
[code]

this is better than add it as another parameter which needs to be NULL for e.g. user

[2015-05-28 11:14] swissspidy commented on #8
I think the API should only offer a standard set of fields, just like the customiser. A repeatable field could be plugin material.

[2015-05-28 11:21] vinkla commented on #8
I'm with @KingYes on this one! This is the number one feature in ACF.

[2015-05-28 14:15] danielbachhuber commented on #9
Fieldmanager has a similar `display_if`attribute. The logic is such that the field will display if the value of another field is N.

[2015-05-28 14:45] danielbachhuber opened #11 "Some unsolicited feedback from my time with the REST API project"
I've been working the WP-API project since August. In hindsight, here are some things I wish we had done in advance:

1. Set a clear mission statement for the project. This will give clarity to the problem you're solving, what to say yes to, and what to say no to. You ideally want to avoid [crises of faith](https://github.com/WP-API/WP-API/pull/759#issuecomment-71595471) late in the project.
2. Fo

[2015-05-28 15:29] helenhousandi commented on #9
The aim as far as plugins are concerned is not to replace plugins like ACF - it's to enable those plugins that provide more complex UI and/or UI builders for fields to use a common API. The project in its current status is rightfully focusing on the PHP side of the API, and I would not endorse the inclusion of this functionality via UI in core itself.

[2015-05-28 15:33] sc0ttkclark commented on #9
Definitely what I was about to say @helenhousandi :)

I will make every effort to ensure something like this will be easy to hook into for plugin purposes though, so anyone with a vested interest feel free to follow up on this.

[2015-05-28 15:33] #9 closed

[2015-05-28 15:36] pimschaaf commented on #9
Just to clarify, in the above comments at least two types of visibility dependencies are discussed. ACF discerns the two as `Custom location rules` and `Conditional Logic`.

Drawing a parallel between ACF and WP Fields API I think the first would apply to
`$wp_fields->add_section`, while the second would apply to `$wp_fields->add_field`.

Custom location rules are discussed above by @nickcernis. I

[2015-05-28 15:42] sc0ttkclark commented on #10
Just wanted to list a few options to consider (not that I'm set on any of them:

[code]

[2015-05-28 15:45] nickcernis commented on #9
Thanks for the feedback, @helenhousandi and @sc0ttkclark!

To clarify, I wasn't proposing that this be added via a new UI – I was suggesting that it be possible without a lot of additional code via the new API.

[2015-05-28 15:46] helenhousandi commented on #8
This is largely a UI concern, and I would agree that this is largely plugin or custom implementation material. I've built a number of repeatable field implementations, and each one is a little bit different both in terms of UI and in terms of storage, especially across different contexts (posts vs. users, for instance). Making repeatable UI generic to various contexts, containers, and field sets i

[2015-05-28 15:49] sc0ttkclark commented on #8
Sounds good to me, it would be great to free people of the burden of loop field fragmentation of storage and usage (and cost in some cases) -- but I know also from my experience (and from seeing @helenhousandi's experience first-hand) that loop fields are anything but simple / generic from project to project.

[2015-05-28 15:49] sc0ttkclark commented on #9
Then request granted :)

[2015-05-28 15:58] sc0ttkclark commented on #10
I'd like to get some feedback / direction from @helenhousandi on this, assigning to her for now.

[2015-05-28 15:58] helenhousandi commented on #1
Fair warning about menus: that screen currently sends ALL of the fields on the screen (including hidden ones, which are only hidden visually) as POST data, which currently causes serious problems with large menus.

[2015-05-28 16:02] sc0ttkclark commented on #1
I have hit this same wall with too many fields being submitted to PHP because of the default [max_input_vars](http://php.net/manual/en/info.configuration.php#ini.max-input-vars).

In the past, I've had to use JS to create JSON objects for each "row", in this case that'd be menu items. Anyways, still a significant hurdle to get past for Menu items.

[2015-05-29 05:02] celloexpressions commented on #1
Menus will no longer be an issue in a matter of weeks, hopefully :) I think we might actually wait on allowing any field extensibility there in the meantime so that we can leverage this when it's ready.

http://github.com/voldemortensen/menu-customizer/

I'd also love to be able to use this when creating widgets, not sure about the feasibility of that though.

[2015-05-29 19:28] sc0ttkclark commented on #10
CMB2 and some others just use pure array args instead of any parameters:

https://github.com/WebDevStudios/CMB2/blob/master/example-functions.php#L80

We could consider that as well, it's also more clear and concise what things are for.

So that adds a couple more choices:

[code]

Again, none of this changes existing implementations, the Customizer sits on top of this and calling the normal Custo

[2015-05-29 19:52] daggerhart commented on #10
I agree with the 1 array approach being more clear.

Additionally, it'd be nice to have a method for adding multiple fields to make writing very complex forms a little more bearable.  This would be a bit easier to implement with a single array of arguments.

[code]

[2015-05-29 19:58] sc0ttkclark commented on #10
I definitely don't want multiple fields being added in add_field() so a separate add_fields would be good there, though I feel that this format would be better modeling:

[code]

[2015-05-29 20:01] sc0ttkclark commented on #10
We should break out add_fields() into it's own issue and not crowd this one too much :)

[2015-05-29 21:17] grantpalin commented on #8
I'm as interested in repeatable fields as much as the next person, but I also agree that the base API should support simple fields, and more complex (and out of the norm) fields should be provided through additional plugins.

[2015-05-29 21:40] tollmanz commented on #7
![sf2hf-ryu-axe](https://cloud.githubusercontent.com/assets/921795/7893251/b1b6e938-0610-11e5-8272-8cc1ee2745a5.gif)

[2015-05-30 13:18] jawittdesigns commented on #8
Yeah, but if you leave repeatable fields for plugins won't that defeat the point of main goal of the API? The repeater it self can be thought of as a field. Sure the basic fields will be supported, but then there  would be hundreds of different repeater fields as plugins.

I use ACF and CMB and the repeaters are the fields I use the most. I use it more that radio and checkboxes combined. Like @sc0

[2015-05-30 18:15] helenhousandi commented on #8
And your "third party stuff" will use the underlying API to build that UI for you. There is no single generic repeatable field UI as far as I have ever seen, only sites and users that deal with UI that hasn't been tailored to them because some library was used. Either way, this project is still in the PHP API design and implementation phase, not complex UI consideration.

[2015-05-30 18:22] jawittdesigns commented on #8
That's about what I figured someone would say, but hey it was worth a shot even thought I knew it was futile. The decision has been made a no amount of discussion will change the core team's mind. The opinion of the WordPress community used to matter. I wonder what happened?

[2015-05-30 18:23] helenhousandi commented on #8
There has been no definitive decision made - I am saying it is too early to make one.

[2015-05-30 18:30] jawittdesigns commented on #8
Sure it has, it was decided with the customizer like @swissspidy said.

It just sad that it's "The WordPress Way" or the highway, now.

You don't need a UI to set up repeatable fields. Just the functionality. Id the image uploader going to be excluded? That needs a UI, too.

No, the decision's been made, and there's no fighting it.

It just bums me out that WordPress has become this way.

[2015-05-30 18:42] helenhousandi commented on #8
I am going to respond to the above and then close and lock this issue until further notice, because this is not productive.

Wherever the PHP API ends up, it will not prevent data from stored or retrieved. A repeatable field is just data at the end of the day - the only thing that makes it repeatable is the UI. Even its storage can be variable, and that's the one related piece we should think abou

[2015-05-31 18:08] dan-westall commented on #10
I like the "Require object type, parameters for everything else" because this style already in use

[code]

[2015-05-31 18:58] sc0ttkclark commented on #10
My vote is on the require object type and ID, and everything else in params currentl

[2015-05-31 20:13] sc0ttkclark commented on #10
I'll move forward on that today/tonight

[2015-06-01 07:31] sc0ttkclark commented on #4
Assigning this to @helenhousandi, to get her feedback on using the same numeric priorities in the Fields API and instead add support to `add_meta_box` for numeric priorities, or adding a numeric to string conversion when interfacing with `add_meta_box` in the Fields API.

[2015-06-01 07:32] sc0ttkclark commented on #5
After discussion with the Customizer team, there are reasons for Settings and Controls to be separated. However, I have adjusted the code to allow for registering the 'control' in the Field args (Settings were renamed to Fields in the Fields API code last week).

[2015-06-01 07:32] #5 closed

[2015-06-01 07:33] sc0ttkclark commented on #7
Copying tests structure from https://github.com/WP-API/WP-API :)

So far, looking good, I'm making the first test case right now for the main add / get methods.

[2015-06-01 12:48] sc0ttkclark commented on #7
Got full test coverage with the main get / add / remove methods in WP_Fields_API for containers, screens, sections, fields, and controls. Will do more later too.

[2015-06-01 20:02] helenhousandi commented on #4
I think numeric priorities are better to standardize on - they're much easier to remember and relate, more fine-grained, and more universally understandable. Meta boxes drive me crazy - which argument uses normal, and which one uses default?

[2015-06-01 20:47] sc0ttkclark commented on #4
@helenhousandi so we should write up the fix on our side in the API or in add_meta_box separately to support numeric?

[2015-06-01 20:50] sc0ttkclark commented on #4
We also may want to think about whether add_meta_box should be sitting on-top of WP_Fields_API_Section or not, there's a lot of benefit to be had with it doing that way I bet.

[2015-06-01 23:11] johnbillion commented on #11
Point 3 here is really important. My hope with the original Metadata/Metamorphosis project was that a great API would be designed first, but people were writing code before the first day's meeting was over.

I think if this project is going to be a success, the code needs to be put on hold while some higher level models are drawn up for the bigger picture.

[2015-06-02 00:38] sc0ttkclark commented on #11
3 was a lot easier because we used the Customizer API as the base, it made modeling much easier before going into development. I did spend a bit of time modeling via php and faux code so I think I covered that pretty well. The issues from in the last project were unfortunate and this project started with a clean slate AND 10up has given me a ton of time on the clock to work on it at my leisure to

[2015-06-02 00:39] sc0ttkclark commented on #10
Implemented this in the codebase last night and now it's unit tested against :)

[2015-06-02 00:39] #10 closed

[2015-06-02 00:39] #7 closed

[2015-06-02 00:49] sc0ttkclark opened #13 "[4.0] Field (Control) Type classes"
Would love any help from contributors on suggestions for skeleton classes / methods that cover the following:

1. Sanitization of value before save
2. Override save of a value to a different place (for third party things)
3. Display field input for form
4. Enqueue assets (js/css) apart from field input display in above number 3, done in footer enqueue of page request

Other things that would be gr

[2015-06-02 00:49] sc0ttkclark commented on #13
@helenhousandi ideas here would be great too

[2015-06-02 00:54] sc0ttkclark commented on #6
Closing this and assigning "maybe later" label to revisit, don't worry, we can reopen when the timing is right.

[2015-06-02 00:54] #6 closed

[2015-06-02 07:03] ihorvorotnov commented on #13
We already have some sanitization functions in core, shouldn't we use them? A hook at this place to modify the default validation would be nice.

<blockquote>Field value display (onto page in theme)</blockquote>

ACF uses own `get_field()` and `the_field()` functions, it's really easy to work with them. They can be looped through just like posts (repeaters and flexible fields). We can have smth li

[2015-06-02 13:27] helenhousandi commented on #11
I agree that it's important that the modeling is documented **without code**. I had, for some reason, thought that this already existed somewhere (like a Google Doc), but I'm not finding it now. @sc0ttkclark - do you have this somewhere, or am I dreaming? Do you have what you need to work on this? I would put any other code decisions on hold until this is in place here in the repo.

[2015-06-02 14:35] sc0ttkclark commented on #11
Yeah I'll go grab it and put it into the wiki?

[2015-06-02 23:59] rmccue commented on #11
FWIW, I spent about a month solid just getting the initial API data design down before we had 0.1, so I agree with that. My only regret is that I didn't do the same for the internal API as well. :)

[2015-06-03 00:06] helenhousandi commented on #11
My preference is in-repo in a docs directory or similar, probably Markdown files. Open to what other people think though, based on their experiences.

[2015-06-03 00:07] helenhousandi commented on #8
Oh, turns out I can lock without closing. Reopening so we don't forget, then. :)

[2015-06-03 00:15] sc0ttkclark commented on #11
@rmccue I totally get the reference in that last part :)

@helenhousandi I feel like wiki is better and the README.md can link off to the wiki for certain parts like examples etc, but we can always change it later. For now I'll go with the wiki since other projects make use of it that way too.

[2015-06-03 00:18] sc0ttkclark commented on #11
Also FWIW, this is now the 7th time I've personally built this API. Not for the Fields API project, but for Pods and my other plugins and projects for work. I'll focus this week on filling the Wiki with good info from the initial project start at the start of the year.

[2015-06-03 00:20] helenhousandi commented on #11
Here are my reasons for preferring in-repo:

* Accepts issues and PRs. The wiki is a Git repo, but has no exposed GitHub interface that I know of besides viewing.
* Does not largely inherently rely on another service (GitHub).

I am not worried about whether or not you know the material, I just want to make sure we have all the things in place that set us up for success and good, constructive feed

[2015-06-03 00:22] danielbachhuber commented on #11
You could solve this by having the documentation in another repo. I think [this approach](https://github.com/WP-API/docs-v2) is working well for WP-API.

Having all of the docs in Markdown is good for portability.

[2015-06-08 12:43] helenhousandi commented on #4
To see where named contexts failed in core, see [r32707](https://core.trac.wordpress.org/changeset/32707) where we actually fixed sorting by those contexts, which has not functioned correctly since [r8712](https://core.trac.wordpress.org/changeset/8712) (which is to say: it has never functioned completely correctly). So, yes, there is probably some benefit to having those named contexts be aliases

[2015-06-15 07:11] eugene-manuilov opened #15 "[1.0] Do not sanitize field args"
I have faced with unpleasant warning when I've tried to use an example from the README file. It turns out that you sanitize args list passed to the `add_field` method. The problem is that `$args` parameter is always an object or an array (not a string), but `sanitize_key` function tries to `strtolower` it and causes this warning.

Instead of using `sanitize_key` function, we could take md5 from se

[2015-08-03 19:11] sc0ttkclark opened #16 "Repeatable / Loop fields and groups"
This is just a placeholder, it exists for us to return to once we get more work done on the main field types. We want to ensure the Fields API enables plugin/theme developers to make use of their own custom implementations of a repeatable / loop field type. We aim to ensure a standard way to interact with the Fields API for such a purpose, leaving UI to the discretion of the plugin/theme developer

[2015-08-03 19:11] sc0ttkclark opened #17 "Add core patch files for implementations"
Add instructions for patching implementation files to readme (patch / diff files would be handy for core/lead devs)

[2015-08-03 19:12] sc0ttkclark opened #18 "Override customizer and user edit screen instead of requiring patch outright"
Add hooks to auto-override customizer classes and user-edit.php for testing purposes.

Customizer manager class override:

[code]

User profile edit override:

[code]

[2015-08-03 19:13] sc0ttkclark opened #19 "[4.0] Refresh Customizer implementation with WP 4.3 changes"
- [x] WP_Customize_Manager
- [x] WP_Customize_Control
- [x] WP_Customize_Setting
- [x] WP_Customize_Section
- [x] WP_Customize_Panel
- [x] Additional classes related to the above
- [x] phpunit passes against core tests

[2015-08-03 19:13] sc0ttkclark opened #20 "Run core phpunit / qunit tests, ensure they are passing with our implementations"

[2015-08-03 20:48] sc0ttkclark opened #21 "Gather list of plugins and themes who would implement Fields API if it were in core"
It'd be great to have a list on-hand of developers (and their GitHub usernames if possible) for themes and plugins so that we can know who to work with on spreading the use of the Fields API. It'd be great to have a large number of them to reference in our official proposal when it comes time for that.
- [ ] Add to readme

[2015-08-03 21:00] brianlayman commented on #21
For certain, I would. I'm BrianLayman just about everywhere.

[2015-08-03 21:00] JDGrimes commented on #21
I'd definitely use it. :smile:

[2015-08-03 21:01] sc0ttkclark commented on #21
@brianlayman @JDGrimes for which plugins/themes (specifically looking for ones that are distributed, free or commercial)

[2015-08-03 21:03] JDGrimes commented on #21
Mainly [WordPoints](https://wordpress.org/plugins/wordpoints/).

[2015-08-03 21:12] brianlayman commented on #21
I'd start by updating these public plugins:
 Spam Destroyer  27,662 downloads
 http:BL WordPress Plugin 9,803 downloads
 WP Multi Network 23,504 downloads
 Mobile Image Tool Tips 131 downloads
 Word Filter Plus 4,027 downloads
 SCuD - The ShortCode Disabler 406 downloads
 Spam Catharsis 702 downloads

The rest of the plugins and all my themes I make are per customer and that's where it would reall

[2015-08-03 22:02] tomharrigan commented on #21
Fieldmanager plugin would use it

[2015-08-04 21:19] amirhelzer commented on #21
Types (and other Toolset plugins) will be interested too. We've recently had a wave of unexpected work due to WordPress 4.2.3 update, but now we're back to normal development and can join this initiative.

[2015-08-05 14:05] jtsternberg commented on #21
Absolutely [CMB2](https://github.com/WebDevStudios/CMB2).

[2015-08-05 15:07] sc0ttkclark commented on #21
That's a great list of high profile responses already! Thanks all, I'm still working on getting a few more on-board. I think most contention right now is whether or not the post editor and other screens will have implementations for Fields API once it initially would go into core. That makes sense to me, since many plugins don't just do custom fields for posts or users. They cover custom fields fo

[2015-08-06 18:03] sbruner commented on #21
Piklist does things the WordPress way, so if this is going into core, Piklist would use it.

[2015-08-06 18:05] sc0ttkclark commented on #21
I should also note that Pods will be using CMB2, which would in turn be extending the Fields API. So Pods would be using Fields API for it's fields, and the Fields API directly for it's own internal object types as well.

[2015-08-06 18:27] mgibbs189 commented on #21
[Custom Field Suite](https://github.com/mgibbs189/custom-field-suite) too, as long as the performance trade-offs are negligable. No pressure ;)

[2015-08-10 18:36] sc0ttkclark commented on #21
I've communicated with one of the most popular custom fields plugins, they're initially on board but they said before they would make it official, it depends on the API itself and how easily it could handle and be extensible for their own functionality.

[2015-08-10 22:11] aristath commented on #21
Kirki and a couple of themes I'm building could use it too... If it were in-core

[2015-08-11 19:11] khromov commented on #16
Excellent initiative :+1:

[2015-08-17 20:22] JustinSainton commented on #21
@sc0ttkclark I could see us using the Fields API directly (potentially CMB2, once it uses it) in WP eCommerce.

[2015-08-17 20:29] sc0ttkclark opened #22 "Readme updates, examples for common use-cases"
Update specs with more details on usage of Fields API by third party apps/plugins, refresh readme so it's more clear and concise.
- [x] Main Readme refresh

Objects in order of progress, then by priority:
- [x] Users #29 @sc0ttkclark
- [x] Terms #28 @technosailor
- [ ] Settings API #33 @technosailor
- [ ] Posts #26 @sc0ttkclark + @idealien
- [ ] Comment #31 @sc0ttkclark
- [ ] Nav Menu Items #34 @d

[2015-08-20 21:34] mAAdhaTTah commented on #21
I would use this in [WP-Gistpen](https://github.com/mAAdhaTTah/WP-Gistpen). Currently using CMB2, which may be overkill for the size of that plugin's settings page.

[2015-09-10 19:07] ericandrewlewis opened #23 "[4.0] Fatal error on install"
I installed the plugin on WordPress 4.2 and overrode the core files with the files included in `implementation/`. This produced a fatal error.

`Fatal error: Class 'WP_Customize_Theme_Control' not found in /srv/www/wordpress-develop/src/wp-includes/class-wp-customize-manager.php on line 1378`

I believe this is because the overridden version of `class-wp-customize-control.php` does not include `cl

[2015-09-21 18:04] sc0ttkclark commented on #18
is_customize_preview() in wp-includes/theme.php will always return false because the class is no longer an `instanceof WP_Customize_Manager`:

[code]

Core will need a way for us to override this.

[2015-09-21 18:12] sc0ttkclark commented on #18
Actually the above should be fine, our implementation uses `WP_Customize_Manager` and assumes the core class never gets loaded.

[2015-09-21 18:23] sc0ttkclark commented on #18
Implemented in latest commits

[2015-09-21 18:23] #18 closed

[2015-09-21 18:24] sc0ttkclark commented on #23
I'm refreshing our customizer implementation with WP 4.3.x right now, it'll take a while but that'll resolve this and make Fields API only compatible with WP 4.3.x.

[2015-09-29 18:34] sc0ttkclark commented on #16
Related #8

[2015-10-09 15:41] sc0ttkclark opened #25 "Refresh Customizer implementation with WP 4.4 + 4.5 changes"
- [ ] WP_Customize_Manager
- [ ] WP_Customize_Control
- [ ] WP_Customize_Setting
- [ ] WP_Customize_Section
- [ ] WP_Customize_Panel
- [ ] Additional classes related to the above
- [ ] phpunit passes against core tests

[2015-10-09 15:44] sc0ttkclark commented on #11
Closing this since it's got lots of valuable information and insight, but all the actionable things are in their own separate issues.

[2015-10-09 15:44] #11 closed

[2015-10-09 15:45] sc0ttkclark commented on #16
Closing in favor of tracking in #8

[2015-10-09 15:45] #16 closed

[2015-10-09 15:47] sc0ttkclark commented on #1
Closing in favor of #22

[2015-10-09 15:47] #1 closed

[2015-10-09 15:52] sc0ttkclark opened #26 "Implementation: Post editor"
- [x] Section - Should call add_meta_box
- [x] Field - Should call register_meta
- [x] Display fields for section inside of meta box
- [x] Save handling in editor
- [x] Pick up field saves from `wp_insert_post( $post_data )` just like terms allows, and process through Fields API (maybe this can apply to the item above)
- [x] Register core fields

Future ability to add fields to display in:
- [ ] e

[2015-10-09 15:53] sc0ttkclark commented on #26
@tomharrigan feel free to update the task list on this one

[2015-10-09 15:55] sc0ttkclark opened #27 "Implementation: Widget forms"
- [x] Method to register config for widget form fields (return array?)
- [x] Widget form parent method should look for fields config, if set, output the form fields
- [x] Widget update parent method should look for fields config, if set, process saving of the form fields

[2015-10-09 15:57] sc0ttkclark commented on #27
Need to assign to Nicholas when I get his username

[2015-10-09 15:59] sc0ttkclark opened #28 "Implementation: Term editor"
- [x] Sections = Headings?
- [x] Display sections and their fields in term editor form
- [x] Save handling in editor
- [x] Maintain hooks on display as available in term add / term edit forms

Idea: Maybe hook into term insert / update function to process fields like for posts in #26?

[2015-10-09 16:04] sc0ttkclark opened #29 "Implementation: User editor"
- [x] Sections = Headings
- [x] Display sections and their fields in user editor form, below contact fields
- [x] Save handling in editor
- [x] Pull values for fields based on user currently being editted
- [x] Merge existing user editor fields into implementation
- [x] Handle edit_user compatibility concerns
- [x] Get user object fields saving correctly (currently meta-only)
- [ ] Test it out, co

[2015-10-09 16:05] sc0ttkclark commented on #27
@nicholasio feel free to update the task list on this one

[2015-10-09 16:07] sc0ttkclark opened #30 "[8.0] Nested sections / fields / controls"
Long term we need to enable nesting for plugins / themes to use the Fields API in the context of #8

[2015-10-09 16:08] nicholasio commented on #27
Ok, I'll look into this today and try to get some insights till monday

[2015-10-09 16:09] sc0ttkclark opened #31 "Implementation: Comment editor"
- [x] Section - Should call add_meta_box
- [x] Display fields for section inside of meta box
- [ ] Save handling in editor (hooked into wp admin page directly, call save_fields() and in save_fields() call the edit comment function as it normally would, then parent::save_fields() to save the custom fields)
- [ ] Register core fields

[2015-10-09 16:10] sc0ttkclark opened #32 "Implementation: Media edit / modal fields"
- [ ] Display fields in editor / modal
- [ ] Save handling from editor / modal

Follow-up: Add backwards compat for existing hook to add custom fields

[2015-10-09 16:18] sc0ttkclark opened #33 "Implementation: Settings API"
- [ ] Map Settings API functions over to Fields API for backwards compat
- [x] Display sections
- [x] Display fields for each section
- [x] Settings save integration to process through Settings API
- [ ] Backwards compat control types?
- [ ] Extend (?) Control Type for Page Settings
- [ ] Control "Group" to allow more than one type of control per "field". (e.g. thumbnail sizes)

[2015-10-09 16:19] sc0ttkclark opened #34 "Implementation: Nav Menu Item edit"
Not sure if this is possible given current hooks.
- [ ] Display fields for nav menu item
- [ ] Save fields on menu save

[2015-10-09 16:23] sc0ttkclark opened #35 "Core Proposal for Merge into WP 4.6"
Just adding this here for later
- [ ] Look at previous Core Proposals and devise our markup / format from those

[2015-10-09 16:30] sc0ttkclark commented on #22
@tomharrigan and @nicholasio you are now owners of the use-cases / examples for your associated areas. Please flesh out 3-5 section + fields examples for each of your implementations and save them into /examples/{implementation}/{example}.md in the Repo

[2015-10-09 16:33] ericandrewlewis commented on #26
Will it be possible to use other locations in the Edit Post page besides a metabox? e.g. `edit_form_after_title`, `post_submitbox_misc_actions`?

[2015-10-09 16:35] sc0ttkclark commented on #26
That's the plan, but initially just covering meta boxes for the first pass.

[2015-10-09 16:35] helenhousandi commented on #26
Was about to comment to the same effect - I really want us to break out of thinking of metaboxes as THE UI paradigm for a form section, plus those other hooks for fields are super useful and get used frequently.

[2015-10-09 16:36] sc0ttkclark commented on #26
Updated issue description

[2015-10-09 16:38] sc0ttkclark commented on #26
@ericandrewlewis++
@helenhousandi++

Totally on the same page with you here :)

[2015-10-12 11:14] NateWr commented on #33
Is there any plan to support the tab pattern that seems to be widely adopted by WP plugins?

![tabs](https://cloud.githubusercontent.com/assets/2306629/10426721/b3699d5e-70da-11e5-91c6-7ed1eec22d67.png)

[2015-10-12 15:07] sc0ttkclark commented on #33
#30 will allow for this type of behavior, though it won't be implemented in core (or at least hasn't been yet)

[2015-10-13 22:21] NateWr commented on #33
:+1:

[2015-10-14 15:30] sc0ttkclark opened #36 "[4.0] Normalize methods for $object_type, $id, $object_name order"

[2015-10-16 18:06] sc0ttkclark commented on #29
Would be cool if in my free time I could follow up with integration with https://wordpress.org/plugins/wp-user-profiles/screenshots/ so that if that plugin is active, we add our sections as meta boxes and display them on a specific tab.

[2015-10-19 21:22] sc0ttkclark commented on #22
@wpsmith is now heading up the media prototype, you are also now in charge of the use-cases / examples for your associated area. Please flesh out 3-5 section + fields examples for your implementation and save them into /examples/media/{example}.md in the Repo.

[2015-10-20 06:23] #36 closed

[2015-10-20 06:24] sc0ttkclark commented on #19
Passing all tests!

[2015-10-20 06:24] #19 closed

[2015-10-20 06:25] sc0ttkclark commented on #23
Tests passing, fatals be gone!

[2015-10-20 06:25] #23 closed

[2015-10-20 06:29] #15 closed

[2015-10-30 18:17] sc0ttkclark commented on #25
Closing this right now as maybe later, not going to focus on the Customizer implementation for the initial proposal, given how complicated it can make this and how much extra testing/review it will require.

[2015-11-01 04:01] nacin commented on #25
I don't know if the fields API would be accepted into core without at least a solid exploration of how it relates to the customizer. @helenhousandi?

[2015-11-01 04:32] sc0ttkclark commented on #25
The Fields API is currently a fork of the Customizer API codebase. It generalizes markup, adds support for multiple object types / names, and makes it pretty easy for people who have developed with the Customizer to develop for the Fields API. There are things that still belong directly in the Customizer API, but also a main concern is backwards compatibility.

I was able to get the WP Core unit t

[2015-11-02 21:25] sc0ttkclark commented on #13
Going to leave display to theme out here for the time being, but just committed all of the new contro ltype stuff overnight and throughout today. Going to close this one out for now.

[2015-11-02 21:25] #13 closed

[2015-11-13 16:28] helenhousandi commented on #25
@nacin I think a pretty solid exploration has already been done and is not worth continuing to pursue as initial usage/implementation case.

[2015-11-13 17:13] celloexpressions commented on #25
And to clarify my comment, the big difference I saw was in the distinction between setting and control objects that seemed de-emphasized in the fields API relative to the customizer API, although that may have changed since I last looked at it.

-----Original Message-----
From: "Helen Hou-Sandi" <notifications@github.com>
Sent: ‎11/‎13/‎2015 8:28 AM
To: "sc0ttkclark/wordpress-fields-api" <wordpres

[2015-11-13 17:59] sc0ttkclark commented on #25
The Fields API as it currently stands, contains the same Control / Setting (field) structure as the Customizer, with the added convenience of being able to create/assign the control when creating a field. It adds a 'control' key to settings arguments, which will auto-create and assign the control arguments passed in there, which in turn reduces overall arguments needed to create a control, while m

[2015-12-06 16:12] sc0ttkclark commented on #27
Posting this here for posterity -- https://github.com/nicholasio/wordpress-fields-api/blob/implementation/widgets/implementation/widgets.php

[2015-12-06 16:13] sc0ttkclark commented on #27
From @nicholasio:

[2015-12-06 16:14] sc0ttkclark commented on #27
@nicholasio

I looked over your widget code and I think there’s some more things we can do:

1. Add a new class like WP_Widget_Fields_API or something, which extends the WP_Widget base class, so we can add some more object oriented code

2. saving / etc is now done in the user implementation, you can see that for what you need to do there

[2015-12-06 16:58] Idealien commented on #20
Two failures:

**1) test_available_item_types**

    Failed asserting that two arrays are equal.
     /srv/www/wordpress-develop/src/wp-content/plugins/wordpress-fields-api/tests/core/nav-menus.php:440
    Differences relate to expected being singular titles (Post, Page, Category) and actual is plural (Posts, Page, Categories)

**2) test_available_items_template**

    Failed asserting template [c

[2015-12-06 17:26] sc0ttkclark commented on #20
These are related to unsynced changes between WP 4.4 and our Customizer tests/implementation. I haven't synced since WP 4.3 stable was released.

We forked the core unit tests to be able to test our customizer implementation, so they’re not actually failing because of something that broke in Fields API. We'll just have to update our implementation if we want 4.4 compatibility too.

[2015-12-15 10:30] Mte90 commented on #22
Example are very interesting to evaluate the level of that feature plugin

[2015-12-15 10:31] Mte90 opened #39 "REST API Support: Endpoints for Schema, Expose Fields to REST"
Are there any plans for the rest API support?
- [ ] Create/Extend REST API Endpoints for Schema
- [x] Expose Fields to REST (register_rest_field)

[2015-12-15 17:27] sc0ttkclark commented on #39
Yes, we need help working on extending the REST API endpoints that expose the fields available for a post type, user, etc

[2015-12-15 17:36] danielbachhuber commented on #39
Related https://github.com/WP-API/WP-API/issues/1822, https://github.com/alleyinteractive/wordpress-fieldmanager/issues/407

[2015-12-17 15:25] holisticnetworking opened #40 "Call to undefined method WP_Customize_Manager::set_return_url() in /Applications/MAMP/htdocs/hndev/wp-admin/customize.php on line 28"
This error appears whenever I attempt to access the Customizer with the Fields API activated.

I have turned off all other plugins and gone back to twentyfifteen theme and still get this error. I've just pulled the latest changes from master and still get this error message.

Awesome ideas, though!! I've been trying to work on something like this for a while, based on my CakePHP experience with fo

[2015-12-17 15:34] sc0ttkclark commented on #40
Our Customizer implementation hasn't been updated with the latest WP 4.4 code, that'd probably be why :)

Will get to it through #25, assuming we still continue on with the Customizer implementation as a focus for our initial core inclusion.

[2015-12-28 21:27] sc0ttkclark commented on #29
Here's what I've got so far:

https://github.com/sc0ttkclark/wordpress-fields-api/blob/master/implementation/wp-admin/includes/class-wp-fields-api-user-profile.php

[2015-12-28 21:28] sc0ttkclark commented on #26
@idealien has joined the effort, he was working on an example Book CPT and registering fields for it.

https://github.com/Idealien/wordpress-fields-api-examples/blob/master/examples/class-cpt-book.php

It still needs some work and we’ll want to work out meta box handling etc in our main post editor implementation — this should mainly handle registering the post type / fields for example purposes,

[2015-12-30 18:12] overclokk commented on #21
I would use in my theme [ItalyStrap](https://github.com/overclokk/ItalyStrap) and my plugin [ItalyStrap](https://github.com/overclokk/italystrap-extended), for now I'm working with CMB2 in my Dev branch.

[2015-12-31 18:22] nicholasio commented on #29
I'm not able to test this out, Is this ready for testing?

It appear you're trying to load a file that does not exist in the _wp_fields_api_user_edit_include() functions

[code]

[2015-12-31 18:29] sc0ttkclark commented on #29
Almost ready for testing, I'm trying to clear out some of the remaining `@todo` markers in https://github.com/sc0ttkclark/wordpress-fields-api/blob/master/implementation/wp-admin/includes/class-wp-fields-api-user-profile.php so I can move onto plugging it all in.

[2016-01-04 22:19] diddledan commented on #34
per discussion on slack, I think code from my simple plugin might be helpful - I'm going to have a look to see if I can figure out an implementation for pulling into this fields-api plugin: https://github.com/sc0ttkclark/wordpress-fields-api/issues/34

[2016-01-06 00:15] paaljoachim commented on #35
Thoughts as to markup of a core proposal based on the oEmbed merge proposal as well as a few of the others below it. https://make.wordpress.org/core/tag/feature-plugins+merge+proposal/
I will shape it as question and answer. As it might be easier this way for shaping the merge proposal.
So you could just go ahead and answer the questions that would be great.

Can you give us a little of the histor

[2016-01-07 09:04] overclokk commented on #34
Hi @sc0ttkclark I don't know if it can be usefull but in my theme I develope [this code](https://github.com/overclokk/ItalyStrap/blob/Dev/admin/class-italystrap-admin-menu-custom-field.php) for adding custom field in nav menu item but I'm refactoring all code because I like the way CMB2 makes fields with less code.

[2016-01-11 22:21] Mte90 commented on #4
I can't find `fields_api_example_post_field_register` and also use of `add_meta_box`.
Maybe this ticket need to be update?

[2016-01-11 22:27] sc0ttkclark commented on #4
We're redoing the Post Editor implementation, it's not available as it was anymore but we need help with #1 so we can re-make these examples in an easier to understand way for new contributors and developers who want to try it out.

[2016-01-13 17:11] Mte90 commented on #22
To start on that i've studied the test files but i don't understand how to use the library.
I have to try with a phpdoc generation but without an example is very difficult to start.

[2016-01-13 17:13] overclokk commented on #22
Me too

[2016-01-13 17:14] sc0ttkclark commented on #22
Here's the current User Edit screen implementation, it's the best example I have right now for you as it's been my primary focus on testing the limits of the Fields API.

https://github.com/sc0ttkclark/wordpress-fields-api/blob/master/implementation/wp-admin/includes/class-wp-fields-api-user-profile.php

[2016-01-13 18:46] msykes commented on #22
A typical example of a user section containing address information would be helpful, so for example:

section – address
 - address 1 (text)
 - address 2 (text)
 - town/city (text)
 - county/state (text)
 - Zip (text)
 - country (DDM)

[2016-01-13 19:07] sc0ttkclark commented on #22
Here's an example of address fields for a User profile:

[code]

[2016-01-13 19:08] sc0ttkclark commented on #22
That doesn't include the action to call this on and when, but it's example code of how to add it to the Fields API

[2016-01-15 06:05] celloexpressions commented on #34
Keep in mind that due to scaling problems (core ticket #14134), we can't allow support for adding custom fields to nav menu items in the admin (we still don't even have an action there). However, it would be very interesting to see whether this could be leveraged in terms of nav menu item controls in the customizer. While that would require using the fields api within the customizer api, it would

[2016-01-15 19:50] sc0ttkclark commented on #34
Yeah this is definitely something I know is a main concern and is an obvious blocker -- can't tell you how many sites I've hit this issue with in the past with people running Pods, it's countless!

We'll have to keep an eye on #25, as we may be able to put some of this implementation into the nav menu class over there, to provide Fields API support for nav menu items. Otherwise, until https://core

[2016-01-15 19:51] sc0ttkclark commented on #34
Also, don't get me wrong, it's not that I don't want to have Nav Menu Items inside the Fields API properly, it's that we can't actively support and open things for all those custom fields showing in the admin screen until 14134 is solved.

[2016-01-15 20:53] celloexpressions commented on #34
Since the scaling issues are solved in the Customizer  (and may only ever be solved there), I would definitely suggest trying to develop an implementation for nav menu item fields there first. That would be a fabulous use case for fields API and one that would be able to be adopted in core without other blockers.

[2016-01-15 20:57] sc0ttkclark commented on #34
Sounds great to me :) I love it when someone says "adopted in core without other blockers"

[2016-01-19 19:42] diddledan commented on #34
I've pushed some bits into 42abdf4 for customizer-specifics. Currently it doesn't have the fields from my other branch added, so it'll not actually output any fields at all right now.

[2016-01-25 23:56] sc0ttkclark opened #44 "Team meetings - Mondays @ 21:00 UTC"
For internal time tracking purposes (Harvest)

[2016-01-26 23:21] sc0ttkclark commented on #40
Closing this as maybe later, not sure if we're revisiting customizer implementation as it currently stands

[2016-01-26 23:21] #40 closed

[2016-01-26 23:23] sc0ttkclark commented on #34
@diddledan is your latest stuff up in PR form yet? Also, can you merge latest from our `master` into yours?

[2016-01-26 23:38] sc0ttkclark commented on #28
Added initial code, it's now in `master`.

Need to look into saving next

[2016-01-27 01:04] diddledan commented on #34
I've rebased both my branches against the latest master 033d25f.
my customizer work isn't in a PR yet, but it is currently residing in a branch: [customizer-nav-menu-items](https://github.com/diddledan/wordpress-fields-api/tree/customizer-nav-menu-items)

[2016-01-27 22:57] sc0ttkclark commented on #22
Added address example to my new examples and docs pages that are about to go up :)

[2016-01-27 23:03] sc0ttkclark commented on #22
Added new doc page for Creating an Implementation (useful for those coming to help out with what we've got going already, based on User / Term screens we did) -- https://github.com/sc0ttkclark/wordpress-fields-api/blob/master/docs/creating-an-implementation.md

Added some new examples too --

**User Profile Screen:**

* [Starter example](https://github.com/sc0ttkclark/wordpress-fields-api/blob/mas

[2016-01-28 00:23] sc0ttkclark commented on #22
Added new doc page for Registering Fields and it's pretty comprehensive in walking you through what everything is and how to pull it all together.

https://github.com/sc0ttkclark/wordpress-fields-api/blob/master/docs/registering-fields.md

Also updated the main README.md to link to these new docs/examples:

https://github.com/sc0ttkclark/wordpress-fields-api/blob/master/README.md

[2016-01-28 10:46] Ramoonus commented on #7
I`m here

[2016-01-28 16:57] sc0ttkclark opened #45 "Logo / Banner for WordPress.org"
We need one, you got one?

[2016-01-28 20:17] technosailor opened #46 "Architecture/Direction"
As we are dealing with some moving pieces, regarding shared architectures, classes/subclasses, etc. This issue is for deciding and implementing these structures.

@sc0ttkclark: Some initial thoughts based on your recent work of Jan 27th, 2016.

Here is my feedback, by request. Some of it may seem obvious, but I'm approaching this from the perspective of not being overly familiar with the code and

[2016-01-28 20:31] sc0ttkclark commented on #46
Some actionable todos from this feedback:

- [ ] Document what Object Types are (`docs/what-are-object-types-and-object-names.md`)
- [ ] Document what Object Names are (`docs/what-are-object-types-and-object-names.md`)

And some responses (some of which solve todos above but still need to make their way into the docs --

## Object Types

Object Types include:

* `user` (WP_User)
* `post` (WP_Post)

[2016-01-28 20:44] sc0ttkclark commented on #46
Now some answers:

### [Creating an implementation class](https://github.com/sc0ttkclark/wordpress-fields-api/blob/master/docs/creating-an-implementation.md)

- How is $this->object_type defined? **See previous comment**
- Does obejct_type mirror WordPress object types (i.e. WP_User, WP_Post, etc)? **See previous comment**
- Does object_name mirror WordPress object names (i.e. post_tag, etc )? **S

[2016-01-28 23:29] sc0ttkclark commented on #46
Added new documentation via #22, added those to README.md, and "Screens" are now "Forms" to make things much more clear.

[2016-01-28 23:29] sc0ttkclark commented on #45
Working on these today/tomorrow with Kelley (sorry, don't have her github username yet)

[2016-01-30 04:49] #46 closed

[2016-01-31 17:59] sc0ttkclark commented on #4
Meta boxes are registered with their appropriate priority and meta box handling takes over the rest, however we should still follow up here to ensure those priorities are utilized when getting overall sort from get_sections etc.

[2016-01-31 20:12] sc0ttkclark opened #48 "Refactor association of Forms, Sections, Controls, Fields"
It's difficult to get a form from the control, we should address that and add methods that help get those types of relations.

## Forms

- [x] Don't allow `$wp_fields->add_form()` to add duplicate forms, return `WP_Error`
- [x] Add `$form->get_sections()` helper method that maps to `$wp_fields->get_sections( $object_type, $object_name, $form_id )`

## Sections

- [x] Add `$section->get_form()` to

[2016-02-01 10:05] #48 closed

[2016-02-01 10:34] sc0ttkclark commented on #30
Nesting is now allowed, not utilized by default in the rendering of forms, sections, and controls, but can be utilized through custom form types, custom section types, or custom control types.

When adding a form, section, or control, you can specify `form`, `section`, `control` as a parent. Multiple parents do not get taken into account through the API, arrays won't work. Also multiple parent typ

[2016-02-01 10:34] #30 closed

[2016-02-01 10:36] sc0ttkclark commented on #4
Added sorting compatibility when calling get_sections, get_controls, for meta box strings.

[2016-02-01 10:36] #4 closed

[2016-02-01 10:38] sc0ttkclark commented on #8
As #30 is now resolved and closed, this issue is not held back in any way other than we're not focusing on it for the initial core proposal. If anyone is interested in getting a prototype of this rolling, I'll certainly help enable you, but for now we'll leave this as closed.

[2016-02-01 11:00] sc0ttkclark commented on #39
@danielbachhuber when using `register_rest_field`, should we register all fields or should we make that opt-in. The default is no get/update/schema callback right now.

https://github.com/sc0ttkclark/wordpress-fields-api/commit/c394e4f13fc54f659c28f19f69d98e14fe28c2ff

[2016-02-01 12:07] danielbachhuber commented on #39
Good question. I'd imagine we'd want it to be opt-in, but that's not a strong opinion.

[2016-02-01 13:36] diddledan commented on #39
I think if no preference is specified when a field is created then it should be exposed by default. That way if the developer who creates a new field is lazy she'll get out-of-the-box functionality via REST. The developer should be able, however, to choose to opt-out of REST support if they're going to implement their own interface.

[2016-02-01 16:06] sc0ttkclark commented on #39
We're now somewhat mirroring some of the stuff from https://core.trac.wordpress.org/ticket/35658 and only using `register_rest_field` if `show_in_rest` is set.

[2016-02-01 21:46] diddledan commented on #22
Example fields for a CPT for "products" being sold (this is probably one of the more complex scenarios I can think of quickly):

- Price (floating point numeric / text-field with validation or cast-to-float),
- Taxable (boolean / checkbox),
- Customizations (uses fields-api to display configuration selections for front-end output which would also be driven by fields-api)
  - expandable array of te

[2016-02-02 21:43] sc0ttkclark commented on #45
Added assets for the plugin here:
https://github.com/sc0ttkclark/wordpress-fields-api/tree/assets

Added banner to README.md:
https://github.com/sc0ttkclark/wordpress-fields-api

[2016-02-02 21:43] #45 closed

[2016-02-18 03:46] iamhexcoder commented on #22
Pages - I often need a subtitle and page header text separate from content.

What is the possibility for having a 'repeater' style field (a la ACF) on a page or custom post type? This would involve more than just the fields API (as I'm sure js would be required), but its a situation I often require. Use case: a page has a staff section, rather than making a custom post type, you just build a serie

[2016-02-18 22:20] ymazuz opened #50 "Should there be WYSIWYG Control/Fields?"
Seems like plugin devs might expect to be able to quickly add a WYSIWYG/TinyMCE editor to the backend using the Fields API. I don’t see a way to do so now. Apologies if I missed anything about it in the Issues or docs. But if it hasn’t already been discussed, are there any chances you’d be willing to add it? I think it makes sense in core instead of being left to 3rd parties.

[2016-02-18 22:22] sc0ttkclark commented on #50
I don't see why not, honestly this should already be in there but it's not :)

Feel free to chip in via a PR, add a new control type at implementation/wp-includes/fields-api/control-types/class-wp-fields-api-wysiwyg-control.php and base it on the one for textarea, just use wp_editor() instead.

[2016-02-18 22:25] ymazuz commented on #50
Thanks for the super fast response. Was just about to add that if you do keep this open I probably won’t be making a PR anytime soon. I tried something similar by subclassing the WooCommerce Settings API a few months ago and got nowhere. But I’ll keep my eye on this and if nobody else has gotten around to it, maybe I’ll take a crack at it eventually!

[2016-02-18 22:26] sc0ttkclark commented on #50
If it takes you longer than 10 minutes, bill me :)

[2016-02-18 22:34] ymazuz commented on #50
Ok if it’s that easy, I’ll try it in the next few days!

[2016-02-19 22:18] sc0ttkclark commented on #50
Hop into Slack #core-fields if you need any help whatsoever, I pledge my unending support to you :)

[2016-02-19 22:19] sc0ttkclark opened #52 "Date / Time picker control type"
Should we include a date, datetime, and/or time control type?

[2016-02-19 22:26] sc0ttkclark commented on #52
Core includes a jQuery date picker, it handles date + time, but it doesn't have a time-only option. We could use HTML5 time field for that, but I'm not sure if that is enough here or not.

[2016-02-19 22:27] sc0ttkclark commented on #52
Oops, clarification, jQuery UI Datepicker only does dates, it does not include date+time or time.

[2016-02-19 22:56] sc0ttkclark opened #53 "Add readonly control type"
This control type only outputs the text value, no input, no saving.

[2016-02-19 23:03] sc0ttkclark opened #54 "Add hidden control type"

[2016-02-19 23:03] #53 closed

[2016-02-19 23:03] #54 closed

[2016-02-19 23:33] sc0ttkclark commented on #52
No jQuery UI stylesheet included with WP Core currently -- https://core.trac.wordpress.org/ticket/18909

If we add jQuery UI Datepicker, then nothing will look right, so we have to nixx this (for now).

[2016-02-20 00:38] ymazuz commented on #50
Sweet. I got it to display a tinyMCE box, but um, it’s missing all the buttons except Add Media (and other ones added by 3rd party plugins). And the text is white on white. So, yeah, no PR yet. But I’m in Slack now as @ yonatron.

[2016-02-20 15:11] #50 closed

[2016-02-20 15:24] sc0ttkclark opened #56 "Datasources for terms, posts, etc"
Controls that offer options (muli-checkbox, radio, select) should accept a datasource as an alternative to passing 'choices' an array, or extending the control with your own choices method to build it dynamically.

They should accept a new Datasource class which we should build in support for a few of the main data sources in WordPress such as Posts, Terms, Users, Comments, Post formats, etc..

[2016-02-20 15:25] sc0ttkclark commented on #56
Talking with @mboynes next week about this some more too, @tomharrigan may have some thoughts as well, given they are both involved with Fieldmanager which does have Datasource classes.

[2016-02-21 16:07] sc0ttkclark commented on #56
I've got a bunch of stuff put into #57 for this, Datasources only covers getting of data, not saving right now. I'll be looking into more coverage next week after I speak with @mboynes.

[2016-02-22 21:30] sc0ttkclark commented on #52
An alternative option: We could reuse the same date and/or time picker that the Post editor screen uses for publish date.

[2016-02-23 15:30] sc0ttkclark commented on #34
Core may have solved the issue of large menus with lots of fields, unblocking this for Nav Menus https://core.trac.wordpress.org/changeset/36510

[2016-02-23 19:02] sc0ttkclark opened #58 "Feedback from @mboynes"
Just adding these here as notes of some of the feedback I got from @mboynes today.

- [x] Fields vs Controls is confusing, Field sounds like a form field, like an input, but control (ala customizer) is less obvious
- [x] Examples could be simplified, passing in $object_type / $object_name everywhere on each level is tedious / unnecessary, we should show/use examples of the shorthand instead with n

[2016-02-26 07:55] #56 closed

[2016-02-26 08:21] sc0ttkclark opened #59 "Reduce complicated configs, use shorthand in forms"
I'm working on moving a lot of the configs over to using [shorthand](https://github.com/sc0ttkclark/wordpress-fields-api/blob/develop/docs/registering-fields-shorthand.md), I just need to finish moving the forms / settings forms over to this new format.

[2016-02-29 07:20] sc0ttkclark opened #60 "Add action to run container enqueue if method exists"

[2016-02-29 09:29] sc0ttkclark commented on #60
Fixed in ae10720d68aacd045b2572d59ec827341309b67c

[2016-02-29 09:29] #60 closed

[2016-02-29 17:31] sc0ttkclark opened #62 "Consider renaming 'Field' to another term to make things less confusing for Controls"
Trying to think up how to make Fields vs Controls more clear, because Fields sounds like form fields, but controls are the inputs on the actual form.
- WP_Fields_API_Value
- WP_Fields_API_Storage
- WP_Fields_API_Stash
- WP_Fields_API_Meta
- WP_Fields_API_Setting (match Customizer)

Need some input/feedback from @helenhousandi when possible.

A `Control` is the input that appears in a form, which h

[2016-02-29 17:45] diddledan opened #63 "Change Object Name to Object Subtype"
I still think it's confusing to have `object_type` and `object_name` when the latter is determined to possibly be a `post_type`.

"so my name is the type, and the type is the name, but sometimes the type is the name and the name is the type? my brain hurts.."

[2016-02-29 17:47] sc0ttkclark commented on #63
Post types are object names, Taxonomies are object names, open to ideas here on improving this.

[2016-02-29 18:00] diddledan commented on #63
an `object` in my opinion is the individual post or term or...

so the `object_type` would be whatever `_type` fits the role of the current `object` be that taxonomy slug or post type slug or ...

then we need to differentiate `object_type`s own typing to "term" or "post" so that we target the right screen, so something along the lines of `meta_object_type`?

that would leave us with
`object` => t

[2016-02-29 18:08] diddledan commented on #63
an alternative could be rename object_type to `group_type` (term or post or ..) and replace object_name with `object_type` (slug of cpt or tax or..).

[2016-02-29 18:10] diddledan commented on #63
there we go, how about:

`object_type`,
`object_group`

where object_type is the slug of cpt or tax, and the object_group is `post` or `term`?

[2016-02-29 20:25] sc0ttkclark commented on #63
As per our discussion in Slack, we're going to go with Subtype as it's immediately apparent that is a perfect name for this type of term.

https://wordpress.slack.com/archives/core-fields/p1456777324000308

I'll work on a PR for this.

[2016-03-02 07:05] sc0ttkclark commented on #62
A few votes for `Setting` instead of `Field`, needs more discussion.

[2016-03-02 20:40] sc0ttkclark opened #64 "Should Settings API be powered by Fields API, or should Fields API just implement the Settings API?"
Right now, our Settings API implementation in the Fields API works nicely as an integration that utilizes the Settings API itself. That means it stores settings in two places (when registered through the Fields API).

If the Settings API itself relied on communicating with the Fields API instead, that would maintain backwards compatibility at the same time as having one datastore for those configu

[2016-03-06 16:30] sc0ttkclark opened #66 "Feedback from @ericandrewlewis"
Had a discussion with @ericandrewlewis and we began working on a refresh of the Fields API specifications. There were some actionable things I mentioned while talking to him, I'm adding them here so I don't lose track of them.

[2016-03-07 10:18] sc0ttkclark commented on #59
All forms converted to shorthand except for settings writing page

[2016-03-07 17:17] sc0ttkclark commented on #66
* Group fields need a clear definition of scope
* Repeatable fields need a clear definition of scope
* "Object" fields (post_title, post_content, user_email, etc) need better definition in the code, currently registered to the form(s) for that object type, they may need to be registered separate from that
* Are there areas the REST API can make use of our definitions?
* What can we do for WP_Field

[2016-03-08 01:35] sc0ttkclark commented on #63
Fixed by https://github.com/sc0ttkclark/wordpress-fields-api/pull/67 which renamed Object name to Object subtype

[2016-03-08 01:57] #63 closed

[2016-03-08 01:59] sc0ttkclark commented on #62
Current terminology: https://github.com/sc0ttkclark/wordpress-fields-api/blob/develop/docs/terminology.md

![terminology](https://raw.githubusercontent.com/sc0ttkclark/wordpress-fields-api/master/docs/terminology.png)

[2016-03-08 01:59] sc0ttkclark commented on #62
WP_Fields_API_Data is another potential option

[2016-03-08 02:00] sc0ttkclark commented on #62
@helenhousandi @ericandrewlewis can you both chime in here on an official capacity for what your vote would be, when you have some time?

[2016-03-08 13:15] ericandrewlewis commented on #62
I don't have a strong preference here at the moment.

[2016-03-09 06:24] sc0ttkclark commented on #58
Closing this in favor of #59 and #62

[2016-03-09 06:24] #58 closed

[2016-03-09 09:24] #59 closed

[2016-03-09 09:27] #28 closed

[2016-03-11 20:55] holisticnetworking commented on #62
My vote would be for "Value," as it has both the advantage of being fairly universally-recognized by developers and abstract enough to accommodate future development without modification. Controls affect Values, which can be associated with whatever arbitrary attribute to whatever object you like.

[2016-03-11 22:14] sc0ttkclark commented on #66
A spec was created here: https://docs.google.com/document/d/1o--GkSH_ODm7-BKgiBCWSijBgjSCro3_dlxAJL2KNYk/edit#

We're reviewing it in public and will continue to cover the spec at the upcoming meeting this Monday, March 14th at 2pm CT

[2016-03-11 22:26] sc0ttkclark commented on #62
The more I think about it, the more I lean towards Value as well. GitHub has reactions now, so how about I post the options individually as comments and people react on each :)

[2016-03-11 22:27] sc0ttkclark commented on #62
Option 1: WP_Fields_API_Field (as is now)

[2016-03-11 22:27] sc0ttkclark commented on #62
Option 2: WP_Fields_API_Value

[2016-03-11 22:27] sc0ttkclark commented on #62
Option 3: WP_Fields_API_Storage

[2016-03-11 22:27] sc0ttkclark commented on #62
Option 4: WP_Fields_API_Stash

[2016-03-11 22:27] sc0ttkclark commented on #62
Option 5: WP_Fields_API_Meta

[2016-03-11 22:27] sc0ttkclark commented on #62
Option 6: WP_Fields_API_Setting (match Customizer)

[2016-03-11 22:27] sc0ttkclark commented on #62
Option 7: WP_Fields_API_Data

[2016-03-11 22:35] ericandrewlewis commented on #62
How about WP_Fields_API_Model?

[2016-03-14 00:32] ymazuz commented on #62
Wait, is the thing we’re talking about in this instance literally just the value? Or is it a piece of data that has a name *and* a value? Because if it’s the former (and the name is specified/stored somewhere else), then Value makes lots of sense; if it’s the latter, Value seems like a weird choice.

[2016-03-14 00:54] sc0ttkclark commented on #62
A field (mirrors Customizer Setting) consists of an ID (ex. meta_key, option_name, etc) and the methods to get / set a value through the various API functions in WP (ex. get_post_meta / update_post_meta, get_option / update_option, etc). It also handles sanitization, and we're talking about expanding the Field class to including data type and other things related to the REST API.

[2016-03-14 02:40] holisticnetworking commented on #62
So, because Yoni asks a great question, may I also try to clarify?

In the context of attribute/value pairs - which as WP developers, we're all
familiar with - Field would include the attribute (plus lots of other
stuff) and the nominal "Value" would encompass the value?

On Sun, Mar 13, 2016, 8:54 PM Scott Kingsley Clark <notifications@github.com>
wrote:

[2016-03-14 02:45] sc0ttkclark commented on #62
The `WP_Fields_API_Field` class object exists to store the configuration as it relates to the field itself, in terms of data operations and anything the REST API may need.

The `WP_Fields_API_Control` class object exists to render the form input to the screen, based on the control type, any configuration passed to the control, and communicates with the Field to get the value.

[2016-03-15 19:07] szepeviktor commented on #30
@sc0ttkclark Could sections / fields / controls be nested in multiple levels?
e.g Section / section / fields...

[2016-03-15 19:32] szepeviktor commented on #22
Could you add
- [ ] Repeatable field implementation example?

[2016-03-15 19:42] holisticnetworking commented on #33
Question, in terms of WordPress' overarching strategy going forward:

My understanding has been that the Customizer was implemented, at least in part, as a means to eliminate other types of customization screens. My understanding was that they wanted everything to be eventually pushed over to the Customizer.

With this in mind, does updating the Settings API make sense? I'm only too happy to see t

[2016-03-28 03:33] nicholasio commented on #27
Initial PR here: #69

[2016-04-12 02:13] alpha1 opened #70 "Fields API breaks filter `taxonomy_parent_dropdown_args`"
I haven't been able to find the code to nail down the problem, but the FieldsAPI plugin, 0.0.7 Alpha currently breaks the filter `taxonomy_parent_dropdown_args`
To test this, make sure you have some tags and categories, add this function and view your category add page, and you will see categories in the Parent dropdown, instead of tags. Now disable the Fields API plugin, and you'll see tags inste

[2016-05-01 07:29] yehudah commented on #52
Maybe I'm not familiar with wordpress standards for 3rd party libraries, but why not using something like this:
http://mugifly.github.io/jquery-simple-datetimepicker/

[2016-05-09 20:04] sc0ttkclark commented on #52
Any inclusion of a third party time picker should be done separately from the Fields API, for purposes of evaluating whether or not a specific script is the correct forward-facing choice, is accessible, and meets all criteria for inclusion in core. Only at that point could we move forward with inclusion of one within the Fields API for our purposes. Otherwise, including any script would require ti

[2016-05-09 21:32] widoz commented on #52
Why don't use the jquery ui datepicker that is available within wordpress?
See it in https://developer.wordpress.org/reference/functions/wp_register_script/

However, a date, datetime control will be useful, in case the browsers doesn't support it, the text field will be used right? May be a pattern prefilled?

[2016-05-10 11:37] junaidbhura commented on #64
Have you considered separate database tables for fields?

I'm sure you are aware of the several options available for custom fields implementation for WordPress, each with their own ideas on how to solve the problem. The most popular, of course, being [Advanced Custom Fields](https://www.advancedcustomfields.com/). ACF for example, tries to solve the problem by storing field formatting and values

[2016-05-13 04:43] sc0ttkclark commented on #52
Yes, the jQuery UI datepicker is included with WordPress core, but the styles aren't (yet). If they were, that'd take care of `date` controls, but would still leave `datetime` and `time` controls up in the air since Datepicker only does dates.

[2016-05-13 04:57] sc0ttkclark commented on #64
Custom fields by default are stored in postmeta, this is not unique to ACF or other plugins like it.

It's out of scope of what we're doing within the Fields API itself to setup new database schemas for field storage, but I should make a very important note -- that plugins like [Pods Framework](http://pods.io/) which allow you to create content types that *do* have their own tables for their conte

[2016-07-12 05:07] tlovett1 opened #71 "Update multiple fields with one write"
Is it possible to have multiple fields save to a single option without calling save individually for each field?

[2016-07-13 05:04] tlovett1 commented on #64
I think the Settings API should be powered by the Fields API.

[2016-07-13 05:09] tlovett1 opened #72 "Understanding WP_Fields_API_Form::register and add_form"
After reading all the documentation I don't understand how to register a new form from scratch. I want to add an example to the repo of creating a simple form to manage a couple fields stored in options. Do I need to create a new class extending `WP_Fields_API_Form`? Can I just use `add_form`? Does `add_form` simply instantiate a form that has already been registered?

[2016-07-13 05:22] sc0ttkclark commented on #64
+1 on that it ultimately should be powered by Fields API (in addition to other things like Network Settings, etc)

[2016-07-13 07:14] sc0ttkclark commented on #72
For all of the core implementations, I've chosen to encapsulate them into their own classes to keep organization concise.

However, this doc page explains how to add forms and do things manually:

https://github.com/sc0ttkclark/wordpress-fields-api/blob/develop/docs/registering-fields.md

The use of [WP_Fields_API_Form_Post](https://github.com/sc0ttkclark/wordpress-fields-api/blob/develop/implemen

[2016-07-14 03:13] tlovett1 opened #73 "What is the purpose of object type/subtype?"
What do we need object types and subtypes for? How do these affect the registration of fields/sections/forms?

[2016-07-14 04:01] tlovett1 commented on #73
It seems like we are overcomplicating by storing forms like so: `$forms[$object_type][$object_sub_type][$id]`. In order to get a form you need to know type/subtype which seems unnecessary.

[2016-07-14 04:18] tlovett1 commented on #72
I think we need to scrap `::register_form` seems like it is an over-complication when we have `add_form`.

[2016-07-14 04:21] tlovett1 opened #74 "Can we register sections/controls/fields within a form all shorthand?"
I see we can add controls/fields as shorthand under sections. Can we do all that within `add_form`?

[2016-07-14 04:23] tlovett1 opened #75 "Extending WP_Fields_API_Container"
It seems that having forms, sections, controls, and datasources extend `WP_Fields_API_Container` is a bit forced. There are multiple methods and properties within `WP_Fields_API_Container` that only apply to a subset of the items extending it. I think we need to restructure this inheritance.

[2016-07-18 20:43] tlovett1 opened #76 "Remove object_type param from form children containers"
I'll handle this one.

[2016-08-01 05:21] sc0ttkclark commented on #72
I'm thinking about what that might look like, what changes it'd require etc. We can chat more about this in today's meeting if you'd like.

[2016-08-01 14:37] tlovett1 commented on #72
I'm crafting a PR for this and some other stuff.

[2016-09-18 21:57] felixarntz opened #80 "Add global `fields_get_{$object_type}` filter"
For updating, there is an action `fields_update_{$object_type}` which makes it easy to implement updating a value for a custom object type. However, there is no such global filter for retrieving a value, so in order to globally implement this functionality for a custom object type, I would need to hook my function into dozens of filters which would be a pain to do.

Therefore I'm proposing to intr

[2016-10-11 23:31] sc0ttkclark commented on #76
Done in #82 and #79

[2016-10-11 23:31] #76 closed

[2016-10-11 23:31] sc0ttkclark commented on #75
Done in #82 and #79

[2016-10-11 23:31] #75 closed

[2016-10-11 23:32] sc0ttkclark commented on #74
Yes, and the new restructured code now supports that too.

[2016-10-11 23:32] #74 closed

[2016-10-11 23:33] sc0ttkclark commented on #80
Added in #81

[2016-10-11 23:33] #80 closed

[2016-10-11 23:37] sc0ttkclark commented on #73
Removed object type / object sub type usage for getting forms, adding form still has you set object type.

Adding sections and controls no longer requires object type / sub type either.

Adding fields requires object type (when not adding the field in the context of a control object which already has an object type set for the parent section's form).

Object types define Post vs Term vs User vs Cu

[2016-10-11 23:37] #73 closed

[2016-10-16 15:36] cloudstoneme commented on #35
seems we can't expect it in 4.7?

[2016-10-16 16:29] sc0ttkclark commented on #35
No, there we're some additional changes we wanted to make to the ease of use for developers along with some personal/professional obligations that limited my availability the past couple of months which were crucial to 4.6 features.

[2016-10-16 16:44] cloudstoneme commented on #35
It's so sad, I've been expecting that fields api merge into WP core for a while, it's really annoying  when develop a plugin/theme with admin settings/options, even there is so many fields framework.

[2016-10-16 17:40] sc0ttkclark commented on #35
Totally get that :( but with the latest changes we've been working on, I think it's ready for final proposal stage if it tests right and works as we've built and scoped.

[2016-12-02 21:58] kochhase commented on #52
Hi Skott. here this date and time picker is very smart. Matts from facetwp use it. So have a look very fast and very good looking.
https://github.com/chmln/flatpickr

[2016-12-03 10:07] widoz commented on #52
There is even the https://github.com/xdan/datetimepicker but flatpickr look very nice.

A fusion of flatpickr and https://github.com/stuttter/wp-datepicker-styling would be great :)

[2016-12-03 14:49] sc0ttkclark commented on #52
Including new Date/time pickers in core as part of the initial Fields API proposal is likely to hold us up in a major way. Our best bet is to move forward with a simple version (jQuery date only) or exclude this type of field entirely.

[2016-12-03 14:50] sc0ttkclark commented on #52
Once Fields API is in core, we can make separate proposals for enhanced control types with scripts like these.

[2017-02-20 17:21] colomet opened #84 "Do you have a road map?"
Do you have an idea about when the beta will be released?

thanks

[2017-02-20 17:34] sc0ttkclark commented on #84
Here's the most recent progress update which includes what's left in each area:
https://github.com/sc0ttkclark/wordpress-fields-api/blob/develop/docs/progress.md

I'm not sure we can go beta until we get some more solid backing from core contributors to ensure we're going the right direction.

[2017-02-23 17:14] jonathanstegall opened #85 "Best way to prep for this to be in core?"
I'm curious if there are ways we who are building very large plugins, for example, or new themes, can prep for this if we need to incorporate custom fields from a data/retrieval perspective. Is there a plugin that will be most compatible (ie ACF) as a model we could use in the interim, or are we better off just using whatever works the best and retrofitting it later?

[2017-02-28 15:42] sc0ttkclark commented on #85
Right now we're on a bit of a hold. I've been the primary person putting time into the project for the past two years and the lack of additional contributors has worn me down. I'm currently seeking additional help to continue the project (collaboration can really help move a project forward). Further, we still need core contributors to sign off on our structure and approach.

[2017-02-28 16:18] cloudstoneme commented on #85
@sc0ttkclark I feel a little sad and guilty to hear you say that, I'm looking for Fields API for a long time, but did not do anything for it, I really want to do something, but it's a little complicated for me. You know, this is big feature, it's not really easy to familiar with it. Anyway, I will tried to dig codebase deeply and hoping can do something for this API.

At the same time, I was think

[2017-02-28 19:31] lukecav commented on #85
I would be happy help on this project, it still seems like the Fields API could help the new Editor project for content storage.

[2017-03-14 00:38] citelao commented on #85
@sc0ttkclark @cloudstoneme Wordpress has the Beta plugins section—could this be a target? Especially since I feel like low-level API & developer-focused development is not a priority for most of the existing "make metaboxes" plugins.

I was about to start my own type system for personal use, but a team working towards inclusion is probably the better basis :)

[2017-03-14 01:17] citelao opened #86 "`registering-fields.md` is out of date"
I'm reading through the [Registering Fields section](https://github.com/sc0ttkclark/wordpress-fields-api/blob/develop/docs/registering-fields.md#registering-fields-and-control), and it seems like the documentation is out of sync with the API.

- **Registering Sections** documents non-existent method `$wp_fields->add_section()`
- **Registering Controls** documents non-existent method `$wp_fields->a

[2017-03-14 05:11] cloudstoneme commented on #85
@citelao What I expected is exactly a low-level API which can be used for any type of forms, from backend to frontend, including php-level rendering and js-level rendering. The Fields API is really close, I just think that it's might not good idea that any wp project stuck on "Core Proposal".

[2017-03-14 16:53] citelao opened #88 "Use CURIE notation instead of subtypes"
The meta team seems to have moved to CURIE notation rather than `type` and `subtype`; is that a worthwhile change to make here, too?

https://make.wordpress.org/core/2016/07/13/register_meta-discussion-on-thursday-july-13/

[2017-03-14 16:59] citelao commented on #85
I'm not sure I understand, but if you mean that it's not a good idea to leave a great project stuck at "core proprosal," I completely agree.

However, there is a *non-third-party* way of deploying "plugins/features", the [Beta Plugin section](https://wordpress.org/plugins/browse/beta/), and I think that serves as a better target. Especially since @sc0ttkclark is an active WP dev, that direction ma

[2017-03-14 18:43] sc0ttkclark commented on #85
I'm open to moving this into a plugin project kind of like how REST API operated, but there was some direction a while back saying we should not create a plugin and treat this like a library.

Any thoughts on how best to move forward @helen?

[2017-03-17 20:21] citelao commented on #85
@sc0ttkclark I think I understand why this could be viewed as a library change, since it will/could eventually override almost every form in Wordpress core.

But, correct me if I'm wrong, I assume that this is part of the reason you've had such a maintenance headache with this project. You've had to keep copies of all the `wp-admin/` pages, updating them manually with every change, and the plugin

[2017-03-17 20:41] sc0ttkclark commented on #85
You hit the nail on the head with what's becoming very difficult to pour time into every WP release. I'm still waiting to hear what @helen thinks about us moving forward with a beta plugin approach.

[2017-03-23 08:34] overclokk commented on #85
I'm for "beta plugin/composer package" approach, this way I can start using this awesome project without waiting WordPress merge approval, with using this fields in real project will be more simple to contribute to it, maybe.

[2017-03-24 17:24] lukecav commented on #85
Most of the main form plugins has already taken extra dev time, to build their own API solutions. If the Fields API was in WP core, then the main form plugins could use that instead.
https://www.gravityhelp.com/documentation/article/gravity-forms-api/
https://formidableforms.com/knowledgebase/formidable-api/
http://docs.ninjaforms.com/customer/portal/topics/798123-developer-api/articles

[2017-03-25 01:40] marsjaninzmarsa commented on #85
Correct me if I'm wrong, but I think that this would be very similar approach to REST API integration - plugin with API and sample endpoints first, then core integration (only for infrastructure, without endpoints, but with support for theme/plugin authors), then endpoints and rewriting core functions for new API.

So +1.

[2017-04-14 18:03] lukecav commented on #85
Push up a version on the WP Repo and try to get it added to say beta?

https://wordpress.org/plugins/browse/beta/

[2017-04-17 17:01] citelao commented on #85
@lukecav I think @sc0ttkclark is just waiting for @helen for the go ahead?

[2017-04-17 17:07] sc0ttkclark commented on #85
That's right, but I think it's safe to say if we hear nothing back this week we will move forward anyways.

[2017-04-17 17:08] citelao commented on #85
@sc0ttkclark What's the game plan for such a transition? What needs to change?

[2017-04-17 17:10] sc0ttkclark commented on #85
1. We integrate with existing WP hooks for adding fields/sections/etc to different places in core (where supported)

2. We attempt to get any new hooks we need to make this all work added to core, since many of the things we're doing require core file changes

3. We wrap the code up into a plugin meant to be a plugin (not as it currently stands which is meant to be a prototype of core functionalit

[2017-06-19 00:59] citelao commented on #85
@sc0ttkclark I'd like to help, and I have some time to do so.

What's the most helpful thing I could do? I was thinking maybe Composer compatibility.

[2017-06-19 03:45] sc0ttkclark commented on #85
Sounds great, shoot a PR this way and I'll review

[2017-07-19 11:59] citelao commented on #85
See #91

[2017-07-31 19:29] citelao opened #92 "Support client-side rendering: allow multiple renderers?"
Wordpress seems to be moving towards client-side rendering and a more JS-driven experience, and we should build the Fields API in a way that supports such an upgrade.

We currently lack a good solution.

# The problem

The Fields API is not designed to handle the rigors of cross-language rendering (or even having multiple render methods at all):
- Devs can register forms as (essentially) giant arr

[2017-08-10 02:47] lukecarbis commented on #86
This also affects the current "API Examples" included in the `docs/examples` directory.

On `develop`, an example option form tries to do `$wp_fields->add_section`, but this creates a fatal error, since the `add_section` method no longer exists inside `WP_Fields_API` class (only in `WP_Fields_API_Form`:
https://github.com/sc0ttkclark/wordpress-fields-api/blob/24c900112b91d908632f331b85e46a7ed2f115

[2017-11-02 16:32] lukecav commented on #84
A couple of Fields API mentions in this Gutenberg issue. https://github.com/WordPress/gutenberg/issues/3304

[2017-11-02 17:28] sc0ttkclark commented on #84
Just noticed that, thanks! Yeah if people built their stuff in Fields API and Gutenberg just slurped the Fields API config for it's purposes, that'd be just about the best thing in the whole entire world.

[2017-11-03 01:39] rpkoller commented on #84
I've posted an issue over at the Gutenberg issue tracker as well a while back in the same vein: https://github.com/WordPress/gutenberg/issues/2718 ( but so far still unsure "what" to answer )

[2017-11-09 19:19] lukecav commented on #84
Again another mention on.
https://github.com/WordPress/gutenberg/issues/3390

[2017-11-09 19:45] sc0ttkclark commented on #84
Yep saw that, thanks Luke!

[2017-11-11 23:12] citelao commented on #84
I want to hop on this that I started work (6 months ago) on a [Composer package implementation](https://github.com/sc0ttkclark/wordpress-fields-api/pull/91) for this API so people can start including beta versions in their own plugins.

I've hit some roadblocks in the implementation, but there's definitely a plugin-developer-facing path forward in addition to any Core proposals.

[2017-12-03 04:10] lukecav commented on #85
Nice question during the state of the word keynote.

[2017-12-03 14:37] sc0ttkclark commented on #85
I’m very happy with the answer, it’s validation for what we are trying to do. And of course Matt stipulated that it’s not a focus for 2018, but we are more than just the core leads and Matt. I think we have work to do this upcoming year, and I’m very very very excited after the conversations I had at WCUS about Fields API.

There is hope once more, there is significant interest by big WP companies